[Unit]
Description=Apache Zookeeper Server
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
ExecStart=/home/ec2-user/zookeeper/bin/zkServer.sh start-foreground
ExecStop=/home/ec2-user/zookeeper/bin/zkServer.sh stop
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
